@font-face {
    font-family: 'raleway';
    src: url('../../fonts/Raleway/Raleway.eot');
    src: url('../../fonts/Raleway/Raleway.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Raleway/Raleway.woff2') format('woff2'),
         url('../../fonts/Raleway/Raleway.woff') format('woff'),
         url('../../fonts/Raleway/Raleway.ttf') format('truetype'),
         url('../../fonts/Raleway/Raleway.svg#Railway') format('svg');
    font-weight: normal;
    font-style: normal;
}
