// Limit to desktop size (no HD)
// $grid-gutter-width:         30px;
// $screen-lg:                 980px;
// $container-large-desktop:   (940px + $grid-gutter-width);

//fairviewregular
$text-font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "raleway-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font-family: "raleway-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font-family: "raleway-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$classic-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$sf-light: "sf-light", Helvetica, Arial, sans-serif;
$sf-regular: "sf", Helvetica, Arial, sans-serif;

$brand-grey:          #9d9d9c;
$brand-orange:        #EE3A00;
$brand-blood-orange:  #A62207;

$bg-purple:           #39303a;
$bg-dark-purple:      #252026;
$bg-stripe-white:     #f6f6f6;
$bg-white:            #ededed;

$engagement-blue:     #2196F3;

$bg-grey:             #1E1E1E;
$text-grey:           #7D7D7D;
$dark-grey:           #7A7A7A;

// Font awesome
$fa-font-path:        '../../fonts';

// Section angle
$section-angle:       70;

// Bootstrap variables
$brand-primary:       $brand-orange;
