<section class="header-slide">
  <div class="container">

    <div class="header-wrapper">
      <img src="/build/img/logo-blaaast@2x.png" class="header-logo" width="200"
         onerror="this.onerror=null; this.src = '/build/img/logo-blaaast.png'">

      <ul class="header-nav">
        <li><a href="#projects" class="js-nav-link">Projets</a></li>
        <li><a href="#services" class="js-nav-link">Services</a></li>
        <li><a href="#team" class="js-nav-link">Equipe</a></li>
        <li><a href="#clients" class="js-nav-link">Références</a></li>
        <li><a href="#contact" class="js-nav-link">Contact</a></li>
      </ul>
    </div>

  </div>
</section>
