.projects-slide {

}

.projects-title {
  color: #000;
}

.project-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.project-item__imagewrap {
  margin: 0;
}

.project-item__img {
  max-width: 100%;
}

.project-item__title {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project-item__description {
  font-size: 12px;
  text-align: left;
}
