.projects-slide {
  padding-bottom: 0;

  &::before {
    content: ' ';
    position: absolute;
      top: calc(100vw / -#{$section-angle} + 1px);
    width: 0;
    height: 0;
    border-top-width: calc(100vw / #{$section-angle});
    border-top-style: solid;
    border-top-color: transparent;
    border-right: 100vw solid #fff;
    overflow: hidden;
  }

  .container-fluid {
    padding: 0;
  }
}

.projects-title {
  color: #000;
}

// Projects list
.project__items {
  margin-left: 0;
  margin-right: 0;
}

.project-item {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.project-item__imagewrap {
  display: block;
  margin: 0;
  position: relative;

  img {
    display: block;
    transition: opacity .4s,transform .4s;
  }

  &:hover {
    img {
      transform: scale(1.03, 1.03);
    }
  }
}

.project-item__img {
  max-width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,.10);
}


// Project content overlay
.project-item__overlay {
  padding: 30px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  background-color: transparent;
  transition: background-color .4s;

  .project-item__imagewrap:hover & {
    background-color: rgba(#000, .75);
  }

  div {
    display: table;
    height: 100%;
  }

  div > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.project-item__title {
  color: #fff;
  font-family: $sf-light;
  font-size: 36px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  transform: translate(0, 15px);
  opacity: 0;
  transition: transform .4s,opacity .4s;

  .project-item__imagewrap:hover & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.project-item__description {
  color: #fff;
  font-family: $sf-regular;
  font-size: 16px;
  text-align: left;
  transform: translate(0, 15px);
  opacity: 0;
  transition: transform .4s,opacity .4s;

  .project-item__imagewrap:hover & {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform .4s .2s,opacity .4s .2s;
  }
}
