.projects-slide {
  padding-bottom: 80px;

  // &::before {
  //   content: ' ';
  //   position: absolute;
  //     top: calc(100vw / -#{$section-angle} + 1px);
  //   width: 0;
  //   height: 0;
  //   border-top-width: calc(100vw / #{$section-angle});
  //   border-top-style: solid;
  //   border-top-color: transparent;
  //   border-right: 100vw solid #fff;
  //   overflow: hidden;
  // }
}

.intro-title {
  font-size: 30px;
  margin: 90px 0 90px;
  text-align: center;

  span {
    font-family: $bold-font-family;
    color: $brand-orange;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .intro-title {
    font-size: 40px;
  }
}

.projects-title {
  color: #000;
}

.project-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.project-item__imagewrap {
  margin: 0;
  position: relative;

  img {
    display: block;
  }

  a {
    display: block;
    position: absolute;
      right: 0;
      bottom: 0;
    background: $brand-primary;
    color: #fff;
    font-size: 11px;
    padding: 3px 8px;
    transition: all .3s ease-out;
    font-family: $classic-font-family;

    &:hover {
      text-decoration: none;
      background: darken($brand-primary, 10%);
    }
  }
}

.project-item__img {
  max-width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,.10);
}

.project-item__title {
  font-family: $bold-font-family;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project-item__description {
  font-size: 12px;
  text-align: left;
}
