.services-slide {
  background-color: $bg-grey;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
      top: calc(100vw / -#{$section-angle} + 1px);
    width: 0;
    height: 0;
    border-top-width: calc(100vw / #{$section-angle});
    border-top-style: solid;
    border-top-color: transparent;
    border-right: 100vw solid $bg-grey;
    overflow: hidden;
  }

  &::after {
    content: ' ';
    position: absolute;
      top: calc(100%);
    width: 0;
    height: 0;
    border-bottom-width: calc(100vw / #{$section-angle});
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-left: 100vw solid $bg-grey;
    z-index: 10;
    overflow: hidden;
  }
}

.services {
  list-style: none;
  padding: 0;
}

.services-title {
  color: #fff;
  margin-top: 100px;
}

.services__item {
  text-align: center;
  padding: 8px;
  max-width: 320px;
  margin: 0 auto;
  height: 50%;
  color: $bg-grey;
}

.services__item__imgwrap {
  float: left;
}

.services__item__img {
  width: 200px;
  line-height: 100px;
}

.services__item__title {
  color: #fff;
  margin: 0;
  font-size: 24px;
  // text-transform: uppercase;
  margin-bottom: 5px;
}

.services__item__body {
  margin-top: 0;
  color: #7d7d7d;
  line-height: 24px;
}

.services__item__img {
  float: left;
  width: 87px;
  max-width: 100%;
  margin-right: 20px;
}

.services__item__content {
  overflow: hidden;
}

@media (min-width: $screen-sm-min) {
  .services__item__img {
    width: 200px;
  }

  .services__item {
    max-width: auto;
    text-align: center;
  }

  .services__item__name {
    margin-top: 20px;
  }

  .services__item__imgwrap {
    height: 100px;
    margin-bottom: 20px;
    float: none;
  }

  .services__item__img {
    float: none;
    margin-right: 0;
    width: 200px;
    min-height: 92px;
  }
}
