.contact-slide {
  background: $brand-orange;

  &::before {
    content: ' ';
    position: absolute;
      top: calc(100vw / -#{$section-angle} + 1px);
    width: 0;
    height: 0;
    border-top-width: calc(100vw / #{$section-angle});
    border-top-style: solid;
    border-top-color: transparent;
    border-right: 100vw solid #{$brand-orange};
    overflow: hidden;
  }
}

.contact-title {
  text-align: center;
  margin: 40px 0 40px;
  color: $brand-blood-orange;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0 0 50px;
  text-align: center;
}

.contact-list__item {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;

  &:hover {
    color: $bg-stripe-white;
  }
}

.contact-list__icon {
  color: $bg-stripe-white;
  font-size: 22px;
  margin-right: 6px;
}
