<article>

  <section class="landing-slide">
    <div class="container">

      <img src="/build/img/logo-blaaast.svg" class="landing-logo" width="287"
           onerror="this.onerror=null; this.src = '/build/img/logo-blaaast.png'">

      <p>
        <a href="#projects" class="landing-arrow js-smooth-link">
          <i class="fa fa-angle-down"></i>
        </a>
      </p>

    </div>
  </section>


  <section id="services" class="services-slide">
    <div class="container">

      <h5 class="services-title intro-title">La puissance du <span>digital</span> et de la <span>co-création</span><br>pour <span>accélérer</span> les organisations.</h5>

    </div>
  </section>


  <section id="projects" class="projects-slide">
    <div class="container">

      <h1 class="projects-title title-center">Nos derniers projets</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="row">

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Gazou.png">
            <a target="_blank" href="http://www.gazou.fr/story/">L'histoire <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">GRDF</h2>
          <p class="project-item__description">Co-création, Design &amp; Développement de l’application des gaziers.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Ticket_Newsroom.png">
            <a target="_blank" href="http://live.ticketforchange.org/">Site LIVE <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">Ticket for Change</h2>
          <p class="project-item__description">Couverture digitale du Tour #Ticket2015 et site LIVE.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Schoolab.png">
          </p>
          <h2 class="project-item__title">SchooLab</h2>
          <p class="project-item__description">Stratégie de communication.</p>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Player.png">
            <a target="_blank" href="http://player.paris/">Site web <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">PLAYER</h2>
          <p class="project-item__description">Design &amp; Développement du site web.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Galeries.png">
          </p>
          <h2 class="project-item__title">Groupe Galeries Lafayette</h2>
          <p class="project-item__description">Roadmap de la stratégie d’Open Innovation.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/GRTGaz.png">
          </p>
          <h2 class="project-item__title">GRTgaz</h2>
          <p class="project-item__description">Learning Expedition pour les Directions Innovation et SI.</p>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Orange.png">
          </p>
          <h2 class="project-item__title">Orange</h2>
          <p class="project-item__description">Mentoring des startups en essaimage.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/GrDF_formation.png">
            <a target="_blank" href="http://www.blaaast.co/build/img/pdf/Blaaast_GrDF_Case_Study-7c0b3d7eed.pdf">Plaquette <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">GRDF</h2>
          <p class="project-item__description">Journée de formation à la co-création.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/youthup.png">
          </p>
          <h2 class="project-item__title">European Youth Forum</h2>
          <p class="project-item__description">Campagne de communication européenne.</p>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/RCI.png">
          </p>
          <h2 class="project-item__title">RCI Banque / Groupe Renault</h2>
          <p class="project-item__description">Réalisation d'une application mobile pour iOS et Android.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Douanes.png">
          </p>
          <h2 class="project-item__title">Douanes de France</h2>
          <p class="project-item__description">Accompagnement dans le développement du protoype web d’un service innovant.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/HiringTicket.png">
          </p>
          <h2 class="project-item__title">Ticket For Change</h2>
          <p class="project-item__description">Développement de l'application pour le recrutement du tour Ticket for Change.</p>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/Neocity.png">
            <a target="_blank" href="https://www.youtube.com/watch?v=r9X9fJgf_qQ">Vidéo <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">Neocity</h2>
          <p class="project-item__description">Réalisation de l’application mobile pour iOS et Android.</p>
        </div>

        <div class="col-sm-4 project-item">
          <p class="project-item__imagewrap">
            <img class="project-item__img" src="/build/img/projects/new/GrDF.png">
            <a target="_blank" href="https://storify.com/chris_angel31/digitall-5">Episode <i class="fa fa-long-arrow-right"></i></a>
          </p>
          <h2 class="project-item__title">GRDF</h2>
          <p class="project-item__description">Formation Twitter &amp; accompagnement d'une communauté de salariés aux usages du digital.</p>
        </div>

      </div>

    </div>
  </section>


  <section id="services" class="services-slide">
    <div class="container">

      <h1 class="title-center services-title">Services</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="people__list row">

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/tech-design.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Tech &amp; Design</h2>
            <p class="services__item__body">Branding &amp; Web Design <br> Sites web responsives<br> Applications mobiles</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/new-marketing.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Communautés</h2>
            <p class="services__item__body">Cause &amp; Storytelling <br> Social Media <br> Acquisition Utilisateurs <br>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/positive-impact.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Co-création</h2>
            <p class="services__item__body">Copilotage de projets <br> Open Innovation <br> Training</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/training.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Events</h2>
            <p class="services__item__body">Culture Digitale <br> Mentoring <br> Startups</p>
          </div>
        </div>

      </div>

    </div>
  </section>


  <section id="team" class="people-slide">
    <div class="container">

      <h1 class="title-center">L'équipe</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="people__list">

          <div class="row">

            <div class="people__item col-sm-2 col-sm-offset-1 clearfix">
              <img src="/build/img/team/sofian.jpg" class="people__pic">
              <h2 class="people__item__name">Sofian</h2>
              <p class="people__item__body">Co-founder &amp; CEO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MeguellatiSoso" target="_blank">@MeguellatiSoso</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/tom.jpg" class="people__pic">
              <h2 class="people__item__name">Tom</h2>
              <p class="people__item__body">Co-founder &amp; CTO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/thaume" target="_blank">@thaume</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/emmanuel.png" class="people__pic">
              <h2 class="people__item__name">Emmanuel</h2>
              <p class="people__item__body">Art Director</p>
              <p class="people__item__twitter"><a href="https://twitter.com/emmnlr" target="_blank">@emmnlr</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/morgane.png" class="people__pic">
              <h2 class="people__item__name">Morgane</h2>
              <p class="people__item__body">Project Manager</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MorganeLb16" target="_blank">@MorganeLb16</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/marie.png" class="people__pic">
              <h2 class="people__item__name">Marie</h2>
              <p class="people__item__body">Project Manager</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MarieDasylva" target="_blank">@MarieDasylva</a></p>
            </div>

          </div>

        </div>

      </ul>
    </div>
  </section>


  <section id="clients" class="clients-slide">
    <div class="container">

      <h1 class="title-center">Références</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="clients-list">

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/galeries.png" alt="logo des Galeries Lafayette" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/rci.png" alt="logo de RCI Banque" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/douanes.png" alt="logo des Douanes de France" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/sensecube.png" alt="logo du SenseCube" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/numa.png" alt="logo du NUMA" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/schoolab.png" alt="logo du Schoolab" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/neocity.png" alt="logo de Neocity" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/player.png" alt="logo de Player" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/grtgaz.png" alt="logo de GRTgaz" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/trax.png" alt="logo de Trax" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/auticiel.png" alt="logo de Auticiel" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/senseschool.png" alt="logo du SenseSchool" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/roger.png" alt="logo de RogerVoice" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/ticket.png" alt="logo de Ticket for Change" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/grdf.png" alt="logo de GrDF" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/euroyouth.png" alt="logo du European Youth Forum" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/orange.png" alt="logo d'Orange'" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/ministere.png" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>


  <section id="map" class="map-slide"></section>


  {{> contact}}

  {{!-- {{> footer}} --}}

</article>
