<article>

  <section class="landing-slide">

    <div class="header-monogram">
      <a href="/" class="nav-logo">Blaaast</a>
    </div>

    <div class="container">

      <div class="landing-wrapper">
        <img src="/build/img/logo.svg" class="landing-logo" width="287"
           onerror="this.onerror=null; this.src = '/build/img/logo-blaaast.png'">
      </div>

      <p>
        <a href="#projects" class="landing-arrow js-smooth-link">
          <i class="fa fa-angle-down"></i>
        </a>
      </p>

    </div>
  </section>


  <section id="tagline" class="tagline-slide">
    <div class="container-fluid">
      <p class="tagline">La puissance du <span>digital</span> et de la <span>co-création</span><br>pour <span>accélérer</span> les organisations.</p>
    </div>
  </section>


  {{> new-projects}}


  {{> services}}


  {{!-- <section id="engagement" class="engagement-slide">
    <div class="container">

      <h1 class="title-center engagement-title">Blaaast engagement</h1>

      <p class="text-center engagement-body">Notre offre et méthode de co-création de produit innovant en partenariat avec les grandes organisations.</p>

      <p class="engagement-cta">
        <a target="_blank" href="http://engagement.blaaast.co">Découvrir Blaaast Engagement</a>
      </p>

    </div>
  </section> --}}


  {{!-- {{> team}} --}}


  {{> references}}


  <section id="map" class="map-slide"></section>

  {{> contact}}

</article>
