<article>

  <section class="landing-slide">
    <div class="container">

      <div class="landing-wrapper">
        <img src="/build/img/logo-blaaast.svg" class="landing-logo" width="287"
           onerror="this.onerror=null; this.src = '/build/img/logo-blaaast.png'">

        <div class="landing-separator"></div>

        <span class="intro-title">La puissance du <span>digital</span> et de la <span>co-création</span><br>pour <span>accélérer</span> les organisations.</span>
      </div>

      <p>
        <a href="#projects" class="landing-arrow js-smooth-link">
          <i class="fa fa-angle-down"></i>
        </a>
      </p>

    </div>
  </section>


  {{!-- <section class="services-slide">
    <div class="container">

    </div>
  </section> --}}


  <section id="projects" class="projects-slide">
    {{!-- <div class="container-fluid"> --}}
    <div class="container">

      <h1 class="projects-title title-center">Nos derniers projets</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="project__items row">

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://www.gazou.fr/story/">
            <img class="project-item__img" src="/build/img/projects/Gazou.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">GRDF - L'appli Gazou</h2>
                  <p class="project-item__description">Co-création, Design &amp; Développement de l’application des gaziers.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://live.ticketforchange.org/">
            <img class="project-item__img" src="/build/img/projects/Ticket_LIVE.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">Ticket for Change</h2>
                  <p class="project-item__description">Site LIVE pour le Tour #Ticket2015.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

      <div class="project__items row">

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://player.paris/">
            <img class="project-item__img" src="/build/img/projects/Player.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">PLAYER</h2>
                  <p class="project-item__description">Design &amp; Développement du site web.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://www.blaaast.co/build/img/pdf/Blaaast_GrDF_Case_Study-7c0b3d7eed.pdf">
            <img class="project-item__img" src="/build/img/projects/CMGRDF.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">GRDF</h2>
                  <p class="project-item__description">Journée de formation à la co-création.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="project__items row">

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://www.youthup.eu">
            <img class="project-item__img" src="/build/img/projects/youthUP.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">European Youth Forum</h2>
                  <p class="project-item__description">Site d'engagement.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="">
            <img class="project-item__img" src="/build/img/projects/RCIBanque.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">RCI Banque / Groupe Renault</h2>
                  <p class="project-item__description">Réalisation d'une application mobile pour iOS et Android.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="project__items row">

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="">
            <img class="project-item__img" src="/build/img/projects/Douanes.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">Douanes de France</h2>
                  <p class="project-item__description">Accompagnement dans le développement du protoype web d’un service innovant.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="">
            <img class="project-item__img" src="/build/img/projects/TicketRecrutement.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">Ticket For Change</h2>
                  <p class="project-item__description">Développement de l'application pour le recrutement du tour Ticket for Change.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="project__items row">

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="https://www.youtube.com/watch?v=r9X9fJgf_qQ">
            <img class="project-item__img" src="/build/img/projects/neocity.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">Neocity</h2>
                  <p class="project-item__description">Réalisation de l’application mobile pour iOS et Android.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 project-item">
          <a class="project-item__imagewrap" target="_blank" href="http://www.lesentier.paris">
            <img class="project-item__img" src="/build/img/projects/LeSentier.jpg">
            <div class="project-item__overlay">
              <div>
                <div>
                  <h2 class="project-item__title">Le Sentier</h2>
                  <p class="project-item__description">Réalisation du site d'engagement.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>
  </section>


  <section id="services" class="services-slide">
    <div class="container">

      <h1 class="title-center services-title">Services</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="people__list row">

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/tech-design.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Tech &amp; Design</h2>
            <p class="services__item__body">Branding &amp; Web Design <br> Sites web responsives<br> Applications mobiles</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/new-marketing.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Communautés</h2>
            <p class="services__item__body">Cause &amp; Storytelling <br> Social Media <br> Acquisition Utilisateurs <br>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/positive-impact.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Co-création</h2>
            <p class="services__item__body">Copilotage de projets <br> Open Innovation <br> Training</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <p class="services__item__imgwrap clearfix">
            <img src="/build/img/picto-services/training.svg" class="services__item__img">
          </p>
          <div class="services__item__content">
            <h2 class="services__item__title">Events</h2>
            <p class="services__item__body">Culture Digitale <br> Mentoring <br> Startups</p>
          </div>
        </div>

      </div>

    </div>
  </section>


  <section id="engagement" class="engagement-slide">
    <div class="container">

      <h1 class="title-center engagement-title">Blaaast engagement</h1>

      <p class="text-center engagement-body">Notre offre et méthode de co-création de produit innovant en partenariat avec les grandes organisations.</p>

      <p class="engagement-cta">
        <a target="_blank" href="http://engagement.blaaast.co">Découvrir Blaaast Engagement</a>
      </p>

    </div>
  </section>


  <section id="team" class="people-slide">
    <div class="container">

      <h1 class="title-center">L'équipe</h1>
      {{!-- <p class="subtitle-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare tincidunt accumsan. Nunc auctor massa sit amet purus lobortis imperdiet.</p> --}}

      <div class="people__list">

          <div class="row">

            <div class="people__item col-sm-2 col-sm-offset-2 clearfix">
              <img src="/build/img/team/sofian.jpg" class="people__pic">
              <h2 class="people__item__name">Sofian</h2>
              <p class="people__item__body">Co-founder &amp; CEO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MeguellatiSoso" target="_blank">@MeguellatiSoso</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/tom.jpg" class="people__pic">
              <h2 class="people__item__name">Tom</h2>
              <p class="people__item__body">Co-founder &amp; CTO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/thaume" target="_blank">@thaume</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/emmanuel.png" class="people__pic">
              <h2 class="people__item__name">Emmanuel</h2>
              <p class="people__item__body">Art Director</p>
              <p class="people__item__twitter"><a href="https://twitter.com/emmnlr" target="_blank">@emmnlr</a></p>
            </div>

            <div class="people__item col-sm-2 clearfix">
              <img src="/build/img/team/morgane.png" class="people__pic">
              <h2 class="people__item__name">Morgane</h2>
              <p class="people__item__body">Project Manager</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MorganeLb16" target="_blank">@MorganeLb16</a></p>
            </div>

          </div>

        </div>

      </ul>
    </div>
  </section>


  <section id="clients" class="clients-slide">
    <div class="container">

      <h1 class="title-center">Références</h1>

      <div class="clients-list">

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/grdf.png" alt="logo de GrDF" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/euroyouth.png" alt="logo du European Youth Forum" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/ticket.png" alt="logo de Ticket for Change" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/grtgaz.png" alt="logo de GRTgaz" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/rci.png" alt="logo de RCI Banque" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/ministere.png" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <img src="/build/img/references/trax.png" alt="logo de Trax" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/igp.png" alt="logo de IGP" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/douanes.png" alt="logo des Douanes de France" class="clients-logo col-sm-4 col-xs-4">
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row">

              <img src="/build/img/references/bop.png" alt="logo de BOP" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/player.png" alt="logo de Player" class="clients-logo col-sm-4 col-xs-4">

              <img src="/build/img/references/neocity.png" alt="logo de Neocity" class="clients-logo col-sm-4 col-xs-4">

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>


  <section id="map" class="map-slide"></section>


  {{> contact}}

  {{!-- {{> footer}} --}}

</article>
