<section id="projects" class="projects-slide">
  <div class="container-fluid">

    {{!-- <h1 class="projects-title title-center">Nos derniers projets</h1> --}}

    <div class="project__items row">

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="https://s3.eu-central-1.amazonaws.com/engagement.blaaast.co/build/img/pdf/GRDF-Case+Study-8591cafe18.pdf">
          <img class="project-item__img" src="/build/img/projects/Gazou.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">GRDF - L'appli Gazou</h2>
                <p class="project-item__description">Co-création, Design &amp; Développement de l’application des gaziers.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="http://live.ticketforchange.org/">
          <img class="project-item__img" src="/build/img/projects/Ticket_LIVE.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">Ticket for Change</h2>
                <p class="project-item__description">Site LIVE pour le Tour #Ticket2015.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="project__items row">

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="http://player.paris/">
          <img class="project-item__img" src="/build/img/projects/Player.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">PLAYER</h2>
                <p class="project-item__description">Design &amp; Développement du site web.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="http://www.blaaast.co/build/img/pdf/Blaaast_GrDF_Case_Study-7c0b3d7eed.pdf">
          <img class="project-item__img" src="/build/img/projects/CMGRDF.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">GRDF</h2>
                <p class="project-item__description">Journée de formation à la co-création.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="project__items row">

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="http://www.youthup.eu">
          <img class="project-item__img" src="/build/img/projects/youthUP.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">European Youth Forum</h2>
                <p class="project-item__description">Site d'engagement.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" href="#" onClick="return false;">
          <img class="project-item__img" src="/build/img/projects/RCIBanque.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">RCI Banque / Groupe Renault</h2>
                <p class="project-item__description">Réalisation d'une application mobile pour iOS et Android.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="project__items row">

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" href="#" onClick="return false;">
          <img class="project-item__img" src="/build/img/projects/Douanes.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">Douanes de France</h2>
                <p class="project-item__description">Accompagnement dans le développement du protoype web d’un service innovant.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="https://apply.ticketforchange.org/">
          <img class="project-item__img" src="/build/img/projects/TicketRecrutement.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">Ticket For Change</h2>
                <p class="project-item__description">Développement de l'application pour le recrutement du tour Ticket for Change.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="project__items row">

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="https://www.youtube.com/watch?v=r9X9fJgf_qQ">
          <img class="project-item__img" src="/build/img/projects/neocity.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">Neocity</h2>
                <p class="project-item__description">Réalisation de l’application mobile pour iOS et Android.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 project-item">
        <a class="project-item__imagewrap" target="_blank" href="http://www.lesentier.paris">
          <img class="project-item__img" src="/build/img/projects/LeSentier.jpg">
          <div class="project-item__overlay">
            <div>
              <div>
                <h2 class="project-item__title">Le Sentier</h2>
                <p class="project-item__description">Réalisation du site d'engagement.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>
