<section id="clients" class="clients-slide">
  <div class="container">

    <h1 class="title-center">Références</h1>

    <div class="clients-list">

      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <img src="/build/img/references/grdf.png" alt="logo de GrDF" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/euroyouth.png" alt="logo du European Youth Forum" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/ticket.png" alt="logo de Ticket for Change" class="clients-logo col-sm-4 col-xs-4">
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <img src="/build/img/references/grtgaz.png" alt="logo de GRTgaz" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/rci.png" alt="logo de RCI Banque" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/ministere.png" class="clients-logo col-sm-4 col-xs-4">
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <img src="/build/img/references/trax.png" alt="logo de Trax" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/igp.png" alt="logo de IGP" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/douanes.png" alt="logo des Douanes de France" class="clients-logo col-sm-4 col-xs-4">
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="row">

            <img src="/build/img/references/bop.png" alt="logo de BOP" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/player.png" alt="logo de Player" class="clients-logo col-sm-4 col-xs-4">

            <img src="/build/img/references/neocity.png" alt="logo de Neocity" class="clients-logo col-sm-4 col-xs-4">

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
