<section id="services" class="services-slide">
  <div class="container">

    <h1 class="title-center services-title">Services</h1>

    <div class="people__list row">

      <div class="people__item col-sm-3 clearfix">
        <p class="services__item__imgwrap clearfix">
          <img src="/build/img/picto-services/test/web-apps.svg" class="services__item__img">
        </p>
        <div class="services__item__content">
          <h2 class="services__item__title">Applications webs</h2>
          <p class="services__item__body">Création d'applications web <br> Site web responsive <br> Applications métier</p>
        </div>
      </div>

      <div class="people__item col-sm-3 clearfix">
        <p class="services__item__imgwrap clearfix">
          <img src="/build/img/picto-services/test/mobile-apps.svg" class="services__item__img">
        </p>
        <div class="services__item__content">
          <h2 class="services__item__title">Applications mobiles</h2>
          <p class="services__item__body">Applications Android/iOS <br> UX mobile <br> 3e point</p>
        </div>
      </div>

      <div class="people__item col-sm-3 clearfix">
        <p class="services__item__imgwrap clearfix">
          <img src="/build/img/picto-services/test/design.svg" class="services__item__img">
        </p>
        <div class="services__item__content">
          <h2 class="services__item__title">Design</h2>
          <p class="services__item__body">Don't worry <br> the designer <br> knows better <br>
        </div>
      </div>

      <div class="people__item col-sm-3 clearfix">
        <p class="services__item__imgwrap clearfix">
          <img src="/build/img/picto-services/test/positive.svg" class="services__item__img">
        </p>
        <div class="services__item__content">
          <h2 class="services__item__title">Co-création</h2>
          <p class="services__item__body">Copilotage de projets <br> Open Innovation <br> Training</p>
        </div>
      </div>

    </div>

  </div>
</section>
