<section id="team" class="people-slide">
  <div class="container">

    <h1 class="title-center">L'équipe</h1>

    <div class="people__list">

        <div class="row">

          <div class="people__item col-sm-2 col-sm-offset-2 clearfix">
            <img src="/build/img/team/sofian.jpg" class="people__pic">
            <h2 class="people__item__name">Sofian</h2>
            <p class="people__item__body">Co-founder &amp; CEO</p>
            <p class="people__item__twitter"><a href="https://twitter.com/MeguellatiSoso" target="_blank">@MeguellatiSoso</a></p>
          </div>

          <div class="people__item col-sm-2 clearfix">
            <img src="/build/img/team/tom.jpg" class="people__pic">
            <h2 class="people__item__name">Tom</h2>
            <p class="people__item__body">Co-founder &amp; CTO</p>
            <p class="people__item__twitter"><a href="https://twitter.com/thaume" target="_blank">@thaume</a></p>
          </div>

          <div class="people__item col-sm-2 clearfix">
            <img src="/build/img/team/emmanuel.png" class="people__pic">
            <h2 class="people__item__name">Emmanuel</h2>
            <p class="people__item__body">Art Director</p>
            <p class="people__item__twitter"><a href="https://twitter.com/emmnlr" target="_blank">@emmnlr</a></p>
          </div>

          <div class="people__item col-sm-2 clearfix">
            <img src="/build/img/team/morgane.png" class="people__pic">
            <h2 class="people__item__name">Morgane</h2>
            <p class="people__item__body">Project Manager</p>
            <p class="people__item__twitter"><a href="https://twitter.com/MorganeLb16" target="_blank">@MorganeLb16</a></p>
          </div>

        </div>

      </div>

    </ul>
  </div>
</section>
